/* リセット */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{ font-size: 16px; }
body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
}
img{ vertical-align: bottom; }
table{ border-collapse: collapse; }

/* 767px以下 SP用 */
@media screen and (max-width: 767px), print {
}

/* 768px以上 PC用 */
@media screen and (min-width: 768px), print {
}

body{
  color: #361f0a;
}

/* header */
header{
  background-color: #e5e5e5;
  height: 160px;
  width: auto;
  padding: 0 100px;
}

.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.header-top-left{
  display: flex;
  gap: 10px;
}

.header-top-left img{
  width: auto;
  height: 50px;
}

.header-top-right{
  text-align: center;
}

.header-tr1{
  font-size: 11px;
  margin-bottom: 10px;
}

.header-tr2{
  font-size: 22px;
}

.header-tr3{
  font-size: 10px;
}

/* gnavi */

.menu-bar{
  display: flex;
  justify-content: space-between;
  align-items:end;
}

.gnavi ul{
  display: flex;
  gap: 30px;
  font-size: 15px;
  align-items: center;
}

.gnavi li a:hover{
  color: #a77710;
}

.rec-btn{
  border: 1px solid #361f0a;
  color: #311d0b;
  margin-right: 20px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
}

.rec-btn a{
  display: block;
  width: 110px;
}

.rec-btn:hover{
  background-color: #594736;
  color: #fff;
}

.menu-list-sp{
  display: none;
}

/* 767px以下 SP用 */
@media screen and (max-width: 767px), print {
  header{
    display: flex;
    background-color: #fff;
    height: 100px;
    padding: 0 20px;
    justify-content: space-between;
    align-items:center;
  }

  .header-top{
    width: 100%;
  }

  .header-top-left h1 img{
    width: 140px;
    height: auto;
  }

  .brest-copy{
    display: none;
  }

  .header-top-right{
    display: none;
  }

  .menu-list-sp{
    display: block;
  }

  button{
    background-color: #fff;
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }

  .btn-open{
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 35px;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .btn-open::before{
    font-family: icomoon;
    content: "\e9bd";
 
  }

  .btn-open.on::before {
    font-family: icomoon;
    content: "\ea0f";
  }

  .gnavi-sp{
    display: none;
    width: 100%;
    line-height: 40px;
    padding: 10px 5%;
    background-color: #eee;
    position: absolute;
    top: 70px;
    right: 0;
  }

  .gnavi-sp a{
    display: block;
    text-align: left;
  }

  .gnavi-sp li{
    text-align: right;
    font-size: 20px;
    border-bottom: 1px dotted #000;
  }
  
  .menu-bar{
    display: none;
  }

  .rec-btn{
    display: none;
  }

}

/* main-visual */
.main-visual{
  padding: 20px 160px;
  margin: 0 auto;
}

.main-visual img{
  width: 100%;
  height: auto;
}

/* 767px以下 SP用 */
@media screen and (max-width: 767px), print {
  .main-visual{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
  }
}

/* sec01 */
.sec01{
  padding: 0 100px;
}

.sec01 h2{
  font-size: 18px;
  text-align: center;
  padding-bottom: 15px;
}

.sec01 h2 br{
  display: none;
}

.sec01-item{
  display: flex;
  margin: 0 auto 30px;
  justify-content: center;
}

.sec01-item li{
  width: 180px;
  height: 50px;
  padding: 8px 35px;
  font-size: 14px;
  text-align: center;
  border-right: 1px solid #361f0a;
}

.sec01-item li:first-of-type{
 border-left: 1px solid #361f0a;
}

.sec01-btn{
  width: min(100%, 1080px);
  margin: auto;
  font-size: 16px;
  border: 1px solid #361f0a;
  text-align: center;
  line-height: 50px;
  background-color: #f2f1f1;
}

.sec01-btn br{
  display: none;
}

.sec01-btn a{
  display: block;
}

.sec01-btn a:hover{
  background-color: #361f0a;
  color: #fff;
}

/* 767px以下 SP用 */
@media screen and (max-width: 767px), print {
  .sec01{
    padding: 30px 0;
   }

  .sec01 h2{
    font-size: 24px;
    font-weight: normal;
    padding: 0 20px 20px;
  }

  .sec01 h2 span{
    display: none;
  }

  .sec01 h2 br{
    display: inline;
  }

  .sec01-item{
    flex-direction: column;
  }

  .sec01-item li{
    width: 100%;
    border-bottom: 1px dotted #361f0a;
    border-right: none;
    line-height: 50px;
    padding: 0;
    font-size: 20px;
     }

  .sec01-item li:first-of-type{
    border-top: 1px dotted #361f0a;
    border-left: none;
   }

  .sec01-btn{
    width: 360px;
    margin: auto;
    line-height: 25px;
    font-size: 20px;
    padding: 20px 0;
  }

  .sec01-btn br{
    display: block;
  }
}

/* sec02 */
.sec02-img-pc{
  padding: 25px 0;
}

.sec02-img-pc img{
  width: 100%;
  height: auto;
}

.sec02-img-sp img{
  display: none;
}

.sec02-item{
  display: flex;
  gap: 30px;
  padding: 0 100px 60px;
  justify-content: center;
}

.sec02-item h3{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 15px;
}

.sec02-item p{
  font-size: 14px;
}

/* 767px以下 SP用 */
@media screen and (max-width: 767px), print {
  .sec02-img-pc{
    padding: 0;
  }

  .sec02-img-pc img{
    display: none;
  }
  
  .sec02-img-sp{
    padding: 5px 0 20px;
  }

  .sec02-img-sp img{
    display: block;
    width: 100%;
    height: auto;
  }

  .sec02-item{
    flex-direction: column;
    padding: 10px 20px 30px;
  }

  .sec02-item h3{
    font-size: 24px;
    font-weight: normal;
  }

  .sec02-item p{
    font-size: 18px;
  }
}

/* sec03 */
.sec03{
  padding: 30px 100px 25px;
  background-color: #f2f1f1;
}
.sec03-title{
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  padding-bottom:20px;
}

.sec03-item{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  width: min(100%, 1080px);
  margin: auto;
  justify-content: center;
}

.sec03-item1, .sec03-item2, .sec03-item3, .sec03-item4, .sec03-item5, .sec03-item6{
  width: 340px;
  height: 400px;
}

.sec03-item img{
  width: 340px;
  height: auto;
}

.sec03-item-title{
  padding: 10px 0 0 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: url(../img/sec02-bar.jpg) no-repeat left center/5px 40px;
}

/* .sec03-item-title::before{
  content: "";
  width: 35px;
  height: 35px;
  background: url(/img/sec02-bar.jpg) no-repeat left center;
  background-size: contain;
  position: absolute;
  left: 0;
} */

.sec03-item h3{
  font-size: 14px;
  font-weight: bold;
}

.sec03-item p{
  font-size: 10px;
  font-weight: normal;
  text-decoration: underline;
  padding-bottom: 20px;
}

.sec03-item a img:hover{
  opacity: 0.6;
}

.sec03-item-title p:hover{
  color: #a77710;
}

.sec03-item dl{
  font-size: 14px;
}

.sec03-item dt{
  font-weight: bold;
}

.sec03-btn{
  width: min(100%, 1080px);
  margin: auto;
  font-size: 16px;
  border: 1px solid #361f0a;
  text-align: center;
  line-height: 50px;
  background-color: #f2f1f1;
}

.sec03-btn br{
  display: none;
}

.sec03-btn a{
  display: block;
}

.sec03-btn a:hover{
  background-color: #361f0a;
  color: #fff;
}

/* 767px以下 SP用 */
@media screen and (max-width: 767px), print {
  .sec03{
    text-align: center;
    padding: 10px 20px 30px;
}

  .sec03-item1, .sec03-item2, .sec03-item3, .sec03-item4, .sec03-item5, .sec03-item6{
    width: 100%;
    height: auto;
}

  .sec03-title{
    font-size: 20px;
    padding-top: 20px;
}

  .sec03-item{
    flex-direction: column;
    padding-bottom: 30px;
  }

  .sec03-item img{
    width: 100%;
    height: auto;
    }

  .sec03-item h3{
    font-size: 18px;
    text-align: left;
    }
    
  .sec03-item p{
    font-size: 16px;
    text-align: left;
    }
  
  .sec03-item-title::before{
    width: 40px;
    height: 40px;
    position:absolute;
    }

  .sec03-item dl{
    text-align: left;
    font-size: 18px;
    }
    
  .sec03-item dt{
    font-weight: bold;
    padding-bottom: 10px;
    }
  
  .sec03-btn{
    width: 360px;
    font-size: 20px;
    }
  }


/* footer */
footer{
  height: 150px;
  padding: 55px 100px 35px;
  text-align: center;

}

.footer-menu{
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.footer-menu li{
  padding: 0 20px;
  border-right: 1px solid #361f0a;
}

.footer-menu li:first-of-type{
  border-left: 1px solid #361f0a;
}

.footer-menu li a:hover{
  color: #a77710;
}

/* 767px以下 SP用 */
@media screen and (max-width: 767px), print {
  footer{
    height: auto;
    padding: 30px 30px;
  }

  .footer-menu{
    flex-direction: column;
    /* padding-bottom: 20px; */
  }

  .footer-menu li{
    border-bottom: 1px dotted #361f0a;
    border-right: none;
    line-height: 50px;
    font-size: 20px;
  }

  .footer-menu li:first-of-type{
    border-top: 1px dotted #361f0a;
    border-left: none;
  }

  .footer small{
    padding-bottom: 30px;
  }
}


